@media (min-width: 768px) {
  .card {
    width: 40rem;
    display: flex;
    flex-direction: row;
    &__img {
      width: 50%;
      picture {
        img {
          height: 100%;
          border-top-right-radius: unset;
          border-bottom-left-radius: .7rem;
          object-fit: cover;
        }
      }
    }
    &__description {
      width: 50%;
      padding: 2rem 2rem .5rem;
    }
    &__category {
      font-size: .9rem;
      letter-spacing: 5.8px;
    }
    &__title {
      margin-top: 1.4rem;
      margin-bottom: 1.5rem;
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
    &__paragraph {
      font-size: 1rem;
    }
    &__prices {
      margin-top: 1.5rem;
      margin-bottom: 1.55rem;
    }
    &__price--now {
      font-size: 2.25rem;
    }
    &__price--before {
      margin-left: 1.4rem;
      font-size: .95rem;
    }
    &__btn {
      font-size: 1rem;
    }
  }
}