* {
  box-sizing: border-box; }

body {
  background-color: #f2ebe3;
  font-family: "Montserrat", sans-serif; }

.card__category {
  color: #6c7289;
  font-weight: 400; }

.card__title {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.card__paragraph {
  color: #6c7289;
  font-weight: 400; }

.card__price--now {
  font-family: "Fraunces", serif;
  font-weight: 700; }

.card__price--before {
  color: #6c7289;
  font-weight: 400; }

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.card {
  background-color: white;
  border-radius: .7rem;
  width: 21rem; }
  .card__img picture img {
    width: 100%;
    border-top-right-radius: .7rem;
    border-top-left-radius: .7rem; }
  .card__description {
    padding: 1.3rem 1.3rem 1.5rem; }
  .card__category {
    font-size: .85rem;
    letter-spacing: 4px; }
  .card__title {
    margin: .8rem 0;
    color: #1c232b;
    line-height: 2rem; }
  .card__paragraph {
    font-size: .875rem;
    line-height: 1.5rem; }
  .card__prices {
    margin-top: 1.3rem;
    margin-bottom: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  .card__price--now {
    color: #3c8067;
    font-size: 2rem; }
  .card__price--before {
    margin-left: 1rem;
    font-size: .85rem;
    text-decoration: line-through; }
  .card__btn {
    width: 100%;
    background-color: #3c8067;
    border: 1px solid #3c8067;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    font-size: .9rem;
    font-weight: 700; }
    .card__btn:hover {
      background-color: #214538; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution p {
    display: inline; }
  .attribution a {
    color: #3e52a3; }

@media (min-width: 768px) {
  .card {
    width: 40rem;
    display: flex;
    flex-direction: row; }
    .card__img {
      width: 50%; }
      .card__img picture img {
        height: 100%;
        border-top-right-radius: unset;
        border-bottom-left-radius: .7rem;
        object-fit: cover; }
    .card__description {
      width: 50%;
      padding: 2rem 2rem .5rem; }
    .card__category {
      font-size: .9rem;
      letter-spacing: 5.8px; }
    .card__title {
      margin-top: 1.4rem;
      margin-bottom: 1.5rem;
      font-size: 2.3rem;
      line-height: 2.3rem; }
    .card__paragraph {
      font-size: 1rem; }
    .card__prices {
      margin-top: 1.7rem;
      margin-bottom: 1.7rem; }
    .card__price--now {
      font-size: 2.25rem; }
    .card__price--before {
      margin-left: 1.4rem;
      font-size: .95rem; }
    .card__btn {
      font-size: 1rem; } }
